@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";

@theme inline {
  --color-pink: #fb2e86;
  --color-sky-blue: #f1f0ff;
  --color-panton-purple: #e0d3f5;
  --color-off-blue: #151875;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
